@tailwind base;
@tailwind components;
@tailwind utilities;
 
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

#root {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #686868;
  /* Gradient colors */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #939393;
}

/* Customize the scrollbar for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #717171 #ffffff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin 20s linear infinite;
}
