@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Styles.css";

/* Customize the scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar { 
  width: 8px; 
  height: 12px; 
}
#root{
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: #686868; /* Gradient colors */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #939393; 
}

/* Customize the scrollbar for Firefox */
body {
  scrollbar-width: thin; 
  scrollbar-color: #717171 #ffffff; 
}